* {
    font-family: Figtree;
    margin: 0;
}

section {
    display: flex;
    margin-top: 30px;
}

h2 {
    font-size: 22px;
    font-weight: 850;
}

h4 {
    font-weight: 400;
    color: #9D9D9D;
    font-size: 15px;
    margin-top: 18px;
    line-height: 24px;
}

h5 {
    font-weight: 600;
    margin-bottom: 18px;
}

p {
    background-color: #F3D04E;
    border-radius: 5px;
    padding: 7px 13px;
    width: fit-content;
    font-size: small;
    font-weight: 900;
    margin: 15px 0 15px 0;
}

h6 {
    font-weight: 1000;
    font-size: 13px;
    margin-top: 6px;
}

.coding {
    border-radius: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5D04E;
    height: 100vh;
    justify-content: center;
}

.cart {
    width: 336px;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px -1px rgba(0, 0, 0, 1);
}

@media screen and (max-width:410px){
    .cart, .coding{
        width: 260px;
    }    
}